<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %> </title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    <%- include("footer.ejs")  %> 
    <p>We are a delivery shooping flower found in 1953 By our ancestors Jeffrey</p>
    <p>
        Welcome to our online flower shop! We offer a wide selection of fresh, beautiful flowers for all occasions.
        <br>  Whether you're looking for a bouquet for a loved one's birthday or a centerpiece for a special event, 
        <br>we have you covered. Our experienced florists handpick each stem to ensure the highest quality arrangements.
        <br> Plus, with our convenient online ordering system, you can have flowers delivered straight to your door with just a few clicks. 
        <br>Shop now and bring a touch of beauty to any occasion.
    </p>
    <img src="images/minecraft.jpg" alt="">
</body>
</html>