<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/happy.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    <%- include("footer.ejs")  %> 
    <p> Get the most beautifull birthday flower design in our Jeffry flower shop</p>
    <img src="images/happy.jpg" alt="">
</body>
</html>