<link rel="stylesheet" href="css/footer.css">

<div class="footer">
    
    <table>
        <tr>
            <th>Address:Blöndubakki 89</th>
            <th>Delivery:24/7</th>
            <th>Phone Number:777-89898900</th>
            <th>Email:Abdulhakeem@hotmail.is</th>
            <th>Opening Hours:10am to 10pm</th>
        </tr>
    </table>
</div>