<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="css/funeral.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    <%- include("footer.ejs")  %> 
    <p>
        A "Funeral Flowers" web page would likely feature a collection of appropriate flower arrangements and bouquets suitable for funerals and other memorial services. <br>
        The page could include images of the flowers, descriptions of the different types of arrangements available, and information on how to purchase them. <br>
        The website may also offer customization options such as adding a personalized message to an arrangement or choosing specific flowers or colors to be included. <br>
        The page would likely have a dignified and respectful tone, and provide information on appropriate funeral etiquette and traditions. <br>
        The website may also offer delivery options for customers who wish to have the flowers sent directly to the funeral home or to the family of the deceased.<br>
        The page would have a user-friendly interface, with easy navigation and a secure checkout process for making purchases.
    </p>
    <img src="images/dead.jpg" alt="">
</body>
</html>