<link rel="stylesheet" href="css/navbar.css">
<div="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/service">Service</a></li>
        <li><a href="/occasion">Different occasion</a></li>
    </ul>   
</div>