<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %> </title>
    <link rel="stylesheet" href="css/occasion.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    <%- include("footer.ejs")  %> 
    <table>
        <tr>
         <th><img src="images/wedding.jpeg" alt=""height="400"></th>
         <th><img src="images/special days.jpeg" alt=""height="400"></th>
</tr>
<tr>
    <th>Wedding Flowers </th>
    <th>Special Days</th>
</tr>
</table>
<table>
    <tr>
        <th><img src="images/birthday.jpeg" alt=""height="400"></th>
        <th><img src="images/funeral.jpg" alt=""height="400"></th>
    </tr>
    <tr>
        <th>Birthday Flowers</th>
        <th>Funeral Flowers</th>
    </tr>
</table>
</body>
</html>