<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %> </title>
    <link rel="stylesheet" href="css/service.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    <%- include("footer.ejs")  %>
    <p>
        Our flower shop is dedicated to providing the finest and freshest flower 
        arrangements and gifts, backed by exceptional customer service. Our experienced 
        florists handpick each stem to ensure that every arrangement is of the highest 
        quality. We have a wide selection of bouquets and arrangements for every occasion, 
        including birthdays, anniversaries, weddings, and more. <br> <br>

        In addition to our beautiful floral arrangements, we also offer a 
        variety of gift options, such as gourmet chocolates, teddy bears, and 
        balloons, to make your gift even more special. And with our convenient 
        online ordering system, you can easily shop from the comfort of your own 
        home and have your gifts delivered straight to your door. <br> <br>

        We believe that customer satisfaction is key, which is why we go 
        above and beyond to make sure every order is perfect. From our helpful 
        customer service team to our professional delivery drivers, we work together 
        to ensure a seamless and enjoyable shopping experience. <br> <br>

        So whether you're looking for the perfect gift or a stunning floral 
        arrangement for your event, look no further than our flower shop. 
        Place your order today and see why we're the go-to choice for fresh, beautiful flowers.
    </p> 
    <img src="images/flowers!!!.jpg" alt="">
</body>
</html>