<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="css/special.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    <%- include("footer.ejs")  %> 
    <p>
        A "Special Day Flowers" web page would likely feature a collection of various flower arrangements and bouquets designed for special occasions such as weddings,
        birthdays, anniversaries, and other important celebrations.<br>
        The page could include high-quality images of the flowers along with descriptions of the different types of flowers
        used in each arrangement and information on how to purchase them.<br>
        The website may also offer customization options such as choosing the specific colors or flower types for an
        arrangement, as well as delivery options for customers who wish to have the flowers delivered to a loved one.<br> 
        The page would likely have a user-friendly interface, with easy
        navigation and a secure checkout process for making purchases.
    </p>
    <img src="images/cake.jfif" alt="">
</body>
</html>