<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="css/wedding.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    <%- include("footer.ejs")  %> 
    <p> 
        wedding flowers might feature various types of blooms such as roses, peonies, lilies, and daisies. <br>It might offer bouquets, centerpieces, 
        <br>and flower arrangements for ceremonies and receptions.<br> The site might have an online shop for ordering, as well as a gallery showcasing previous arrangements 
        for inspiration. <br>Customers may be able to customize their orders with specific colors, varieties, and sizes. <br>
        Information on wedding flower trends, tips for wedding floral design, and advice on coordinating flowers with wedding themes may also be available.
    </p>
    <img src="images/white.jfif" alt="">
</body>
</html>